[submodule "extern/vcpkg"]
	path = extern/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "extern/backward-cpp"]
	path = extern/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
